# HOCON (Human-Optimized Config Object Notation) format.

bindings {
  b {
    actionId: Git.Branches, description: Git branches
  },
  u {
    actionId: Vcs.UpdateProject, description: Update branch
  },
  p {
    actionId: Vcs.Push, description: Git push
  },
  q {
    actionId: Stop, description: Stop
  },
  t {
    actionId: ActivateTerminalToolWindow, description: Terminal
  },
  e {
    actionId: RecentFiles, description: Recent Files
  },
  m {
    actionId: HideAllWindows, description: Max
  },
  r {
    actionId: Run, description: Run
  },
  d {
    actionId: Debug, description: Debug
  },
  l {
    description: Leetcode
    bindings {
      p {
        actionId: LeetCodePick, description: pick question
      },
      s {
        actionId: LeetCodeSubmit, description: submit solution
      }
    }
  },
}