[user]
	name = Quanuanc
	email = quanuanc@outlook.com
[diff]
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[core]
	excludesfile = /Users/quanuanc/.gitignore
	autocrlf = input
[credential "https://gitee.com"]
	provider = generic
[pull]
	rebase = true
[alias]
  df = difftool
